/* CONTACT-STYLES */
.contact {
	background-color: #e27802;
	color: #eeeeee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1em;
  }
  .social_link img{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 10px;
	background-size: 50px 50px;
  }
  .form_email{
	  width: 35%;
  }
  .form_email .label-input div{
	  display:flex;
	  justify-content: space-between;
	  align-items: center;
	  margin: 1%;
  }
  .form_email input {
	background-image: url(https://static8.depositphotos.com/1019436/1032/i/950/depositphotos_10320810-stock-photo-old-paper-texture.jpg);
	border-color: gray;
	border-style: solid;
	border-radius: 5px;
	padding: 10px 20px 10px 10px;
	/* background-image: url("../images/envelope.svg");
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 5px; */
	font-family: "Libre Baskerville", serif;
	border:none;
  }
  .form_email button {
	color: #eeeeee;
	display: block;
	border-style: solid;
	background: #58391c;
	padding: 10px 0px;
	border-radius: 5px;
	width: 100px;
	margin-top: 10px;
	border-color: #eeeeee;
	cursor: pointer;
  }
  .form_email label {
	color: #eeeeee;
	font-family: "Libre Baskerville", serif;
  }
  .contactLink{
	text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
  }
  .social a{
	  text-decoration: none;
  }
  .errorMessage{
	  color: white;
	  font-weight: 500;
  }
  @media screen and (max-width: 480px){
	.contact {
		height: auto;
		padding: 1em 0;
		text-align: center;
		display: block;
	  }
      .form_email button {
        margin: 1em auto 2em auto;
      }
      .form_email label {
        margin-top: 0;
      }
  }
  @media screen and (max-width: 480px){
	  .contact .container{
		  display:flex;
		  justify-content: center;
	  }
	.form_email{
		width: 80%;
	}
  }
/* END-CONTACT-STYLES */
