/* HERO-STYLES */
.hero {
  height: 290px;
  background-position-x: right;
  background-color: black /* #58391c */;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero-imageContainer {
  width: calc(3.5em + 10px);
  height: calc(3.5em + 10px);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.hero-image {
  object-fit: cover;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}
.whoAreIsaias {
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 60px;
  width: 100%;
}
.isaiasInfo{
  margin-left: 0.5em;
}
.isaiasInfo h3 {
  color: white;
  font-size: 0.65em;
  margin:0;
}
.fafe{
  display: inline;
  color:rgb(180, 190, 44);
  margin:0
}
.cargo{
  display: inline;
  color:#f88f01;
  margin:0
}
.whoAreIsaias h1 {
  font-size: 1.5em;
}
@media screen and (max-width: 1023px) {
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero .container {
    justify-content: flex-end;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .hero {
    padding: 2em 1em;
  }
}
/* END-HERO-STYLES */
